/* ---------------------------------------------- EFFET MACHINE A ECRIRE ------------------------------------- */
h1 {
  font-family: Open sans;
  color: #141313;
  display: inline-block;
  position: relative;
}
h1::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 3px;
  background: #dadada;
  right: -15px;
  top: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* ---------------------------------------------- PHOTO ------------------------------------------------------ */
#profil {
  width: 225px;
  height: 300px;
  border-radius: 25%;
  box-shadow: 8px 5px 3px rgba(0, 0, 0, 0.50);
  margin: 2em;
}

/* ---------------------------------------------- LE JUSTE PRIX ---------------------------------------------- */
#instructions {
  color: white;
}

.instruction {
  padding: 15px;
  margin: 10px 0;
}

.plus {
  background-color: #f67280;
}

.moins {
  background-color: #ffa372;
}

.fini {
  background-color : #0c9463;
}

/* ---------------------------------------------- THEME SOMBRE ---------------------------------------------- */

.dark {
  background-color: #112F41;
  color: #000;
}

/* ---------------------------------------------- METEO ---------------------------------------------- */
#fondMeteo{
  background: #2980B9;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}



@media all and (max-width: 600px) {
  header img { width: 100%; }
}